doctype html
html
  head
    title Big Gulp
    link(rel="stylesheet" href="styles/main.css")
  body
    header
      h1 Hello World!
    main
      p This is a test.
      script(src="scripts/main.js")